<html>
<head>
<title>REGISTRAR COMPANIAS</title>
</head>
<h1>REGISTRO DE COMPANIAS</h1>

<form action="" method="POST">

<div id="main_content">
<label for="codigo">C&oacute;digo:</label>
<input type="text" name="codigo" />

<label for="tipo_empresa">Tipo de Empresa:</label>
<input type="text"/><br />

<label for="ruc">RUC</label>
<input type="text" /><br />

<label for="nombre">Nombre</label>
<input type="text"/><br />

<label for="nombre_comercial>Nombre comercial</label>
<input type="text"/><br />

<label for="giro">Giro</label>
<input type="text" /><br />

<label for="actividad_principal">Actividad Principal</label>
<input type="text" /><br />

<label for="telefono_fijo">Telefonos Fijos</label>
<label for="telefono_movil">Telefonos Moviles</label>

<label for="fax">Fax</label>
<input type="text" /><br />

<label for="especialidad">Especialidad</label><br />

<label for="observacion">Observacion</lavel>
<input type="text" /><br />

<label for="email">Email</label>
<input type="text">

<label for="direccion_web">Web</label>
<input type="text" /><br />

<input type="submit" value="Procesar" />
</div>
</form>

</html>
