{# empty Twig template #}
<div id="side_bar">
    <a href="{{
        path(
            'compania_nuevo'
            )
        }}">
    </a>
    <a href="{{
        path(
            'persona_nuevo'
            )
        }}">
    </a>
    <a href="{{
        path(
            'lista_distribucion_nuevo'
            )
        }}">
    </a>
</div>